import(Matrix)
importFrom("Biostrings", "DNAStringSet")
importFrom("methods", "is", "new")
importFrom("stats", "rexp", "rgamma", "rnorm", "runif")
importFrom("utils", "write.table")

exportClasses(
    aminoSC,
    codonvalues,
    discrete,
    hbParameters,
    ou,
    omega,
    scoup,
    seqParameters)

export(
    "aaGamma",
    "aaGauss",
    "alignsim",
    "biTree",
    "codonCoeffs",
    "codonFreq",
    "discreteInput",
    "dndsCalculator",
    "fixMatrix",
    "hbInput",
    "ouEvolve",
    "ouInput",
    "seqDetails",
    "seqWriter",
    "subsMatrix",
    "wInput"
)

exportMethods(
    "aInfo",
    "aaSCupdate",
    "alignsim",
    "asymMean",
    "asymVar",
    "branchL",
    "coeffs",
    "cseq",
    "dNdS",
    "details",
    "effpop",
    "freqs",
    "lscape",
    "nodes",
    "nsynVar",
    "phylogeny",
    "reversion",
    "sampler",
    "seqCOL",
    "seqs",
    "sites",
    "sitesim",
    "synVar",
    "taxa",
    "vNvS",
    "show"
)

